<!-- <div class="header-sidebar-container d-flex flex-column"> -->
    <app-header></app-header>
    <app-sidebar></app-sidebar>
<!-- </div> -->

<!-- Barra de busca -->
<div class="container">
    <div class="d-flex justify-content-between" style="margin-top: 10%">
        <h2>Logs do Sistema</h2>
        <div class="d-flex">
            <input type="text" class="form-control" placeholder="Buscar log...">
            <button class="btn btn-primary ml-2">Buscar</button>
        </div>
    </div>

    <!-- Tabela de logs -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Operação</th>
                <th scope="col">Data</th>
                <th scope="col">Usuário</th>
            </tr>
        </thead>
        <tbody>
            <!-- Exemplo de linha da tabela -->
            <tr>
                <th scope="row">1</th>
                <td>Criação de usuário</td>
                <td>16/10/2023</td>
                <td>Administrador</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>Atualização de tarefa</td>
                <td>17/10/2023</td>
                <td>Pedagogo Michel Kyser</td>
            </tr>
            <!-- Repita essa estrutura para cada log -->
        </tbody>
    </table>
</div>





