<app-header></app-header>
<app-sidebar></app-sidebar>
<br><br><br>

<div class="container my-5 d-flex flex-column min-vh-100">
    <h2>Cadastro de Avaliação</h2>
    <form (ngSubmit)="salvarAvaliacao()" [formGroup]="avaliacaoForm" class="mt-4">
      <div class="form-group">
        <label for="aluno">Aluno:</label>
        <select class="form-control" id="aluno" formControlName="alunoId"
          [class.is-invalid]="isFieldInvalid('alunoId')" [class.is-valid]="isFieldValid('alunoId')">
          <option value="" disabled selected>Selecione um aluno</option>
          <option *ngFor="let aluno of alunos" [value]="aluno.id">{{ aluno.nome }}</option>
        </select>
        <div *ngIf="isFieldInvalid('alunoId')" class="invalid-feedback">
          Selecione um aluno
        </div>
      </div>
      <div class="form-group">
        <label for="pedagogo">Professor:</label>
        <select class="form-control" id="professor" formControlName="codigoProfessor"
          [class.is-invalid]="isFieldInvalid('codigoProfessor')" [class.is-valid]="isFieldValid('codigoProfessor')">
          <option value="" disabled selected>Selecione um professor</option>
          <option *ngFor="let professor of professores" [value]="professor.id">{{ professor.nome }}</option>
        </select>
        <div *ngIf="isFieldInvalid('codigoProfessor')" class="invalid-feedback">
          Selecione um professor
        </div>
      </div>
      <div class="form-group">
        <label for="dataAvaliacao">Data:</label>
        <input type="date" class="form-control" id="dataAvaliacao" formControlName="dataRealizacao"
          [class.is-invalid]="isFieldInvalid('dataRealizacao')" [class.is-valid]="isFieldValid('dataRealizacao')">
        <div *ngIf="isFieldInvalid('dataRealizacao')" class="invalid-feedback">
          A data é obrigatória.
        </div>
      </div>
      <div class="form-group">
        <label for="titulo">Título:</label>
        <input type="text" class="form-control" id="titulo" formControlName="titulo"
          placeholder="Título" [class.is-invalid]="isFieldInvalid('titulo')"
          [class.is-valid]="isFieldValid('titulo')" minlength="8" maxlength="64">
        <div *ngIf="isFieldInvalid('titulo')" class="invalid-feedback">
            O título da avaliação é obrigatório, o titulo deve ter no mínimo 8 caracteres.
        </div>
      </div>
      <div class="form-group">
        <label for="descricaoAvaliacao">Descrição:</label>
        <input type="text" class="form-control" id="descricaoAvaliacao" formControlName="descricao"
          placeholder="Descrição da avaliação" [class.is-invalid]="isFieldInvalid('descricao')"
          [class.is-valid]="isFieldValid('descricao')" minlength="15" maxlength="255">
        <div *ngIf="isFieldInvalid('descricao')" class="invalid-feedback" >
            A descrição da avaliação é obrigatória, a descrição deve ter no mínimo 15 caracteres.
        </div>
      </div>
      <div class="form-group">
        <label for="materia">Matéria:</label>
        <input type="text" class="form-control" id="materia" formControlName="materia"
          placeholder="Matéria" [class.is-invalid]="isFieldInvalid('materia')"
          [class.is-valid]="isFieldValid('materia')">
        <div *ngIf="isFieldInvalid('materia')" class="invalid-feedback">
            A matéria é obrigatória.
        </div>
      </div>
      <div class="form-group">
          <label for="pontuacaoMaxima">Pontuação máxima:</label>
          <input type="number" class="form-control" id="pontuacaoMaxima" formControlName="pontuacaoMaxima"
            placeholder="Pontuação máxima" [class.is-invalid]="isFieldInvalid('pontuacaoMaxima')"
            [class.is-valid]="isFieldValid('pontuacaoMaxima')">
          <div *ngIf="isFieldInvalid('pontuacaoMaxima')" class="invalid-feedback">
              Pontuação máxima é obrigatória.
          </div>
      </div>
      <div class="form-group">
        <label for="nota">Nota:</label>
        <input type="number" class="form-control" id="nota" formControlName="nota"
          placeholder="Nota obtida" [class.is-invalid]="isFieldInvalid('nota')"
          [class.is-valid]="isFieldValid('nota')">
        <div *ngIf="isFieldInvalid('nota')" class="invalid-feedback">
            Nota é obrigatória.
        </div>
      </div>
      <div *ngIf="formError" class="alert alert-danger">
        {{ formError }}
      </div>
      
      <div class="my-4">
        <button type="submit" [disabled]="avaliacaoForm.invalid" class="btn btn-info mx-2 my-2"><i class="fas fa-save"></i> Salvar</button>
        <button [routerLink]="['/avaliacoes/list']" class="btn btn-secondary mx-2 my-2"><i class="fas fa-arrow-left"></i>
          Voltar para a lista de avaliações </button>
      </div>
    </form>
</div>
